{% extends "base.html" %}

{% block body %}
<div class="card">
    <div class="card-header text-center">
        <h2>{{title}}</h2>
    </div>
    <div class="card-body">
        <form action="" method="POST">
            {{form.hidden_tag()}}

            <div class="mb-3">
                {{form.title.label(class="form-label")}}
                {{form.title(class="form-control")}}
            </div>

            <div class="mb-3 form-check">
                {{form.completed(class="form-check-input")}}
                {{form.completed.label(class="form-check-label")}}
            </div>

            <div class="d-grid">
                {{form.submit_btn(class="btn btn-primary")}}
            </div>
        </form>
    </div>
</div>
{% endblock %}